<nav>
  <div class="nav-bar">
    <h1>Karthik Meda's Portfolio</h1>
    <ul class="right">
      <li><a href="/about"><span class="black-text text-lighten-5">About Me</span></a></li>
      <li><a href="/projects"><span class="black-text text-lighten-5">Projects</span></a></li>
      <li><a href="/contact"><span class="black-text text-lighten-5">Contact</span></a></li>
    </ul>
    <!-- <a href="/about"><span class="black-text text-lighten-5">About Me</span></a>
    <a href="/projects"><span class="black-text text-lighten-5">Projects</span></a>
    <a href="/contact"><span class="black-text text-lighten-5">Contact</span></a> -->
  </nav>
