<% include  ./partials/head.ejs %>
  <body>
    <% include ./partials/header.ejs %>
    <main>
      <div class="container">
      <h2 class="center align">About Me</h2>
      <p>
        Through my academic and professional experience in business management, sales and marketing respectively I’ve used my analytical, research gathering and collaborative skills to deliver effective solutions. My diverse interests ranging from 70’s funk music to Ta Nehisi Coates’ writing , coupled with my innate curiosity have allowed me to continuously learn. I look forward to working with fellow web development enthusiasts to build beautiful functional websites and applications and help make code become more usable and accessible to everyone.
      </p>

    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
