<% include  ./partials/head.ejs %>
  <body>
    <% include ./partials/header.ejs %>
    <main>
      <div class="container">
        <a class="cont" href="https://karthmeda.github.io/" ><img src="../images/github64.png"></a><br/>
        <a href="https://twitter.com/ksmeda"><img src="../images/twitter64.png"></a><br/>
        <a href="mailto:kmeda34@gmail.com"><img src="../images/gmail64.png"></a><br/>

    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
