<% include  ./partials/head.ejs %>
  <body>
    <% include ./partials/header.ejs %>
    <main>
      <div class="container">
      <img  class="proj" src="../images/tictac.png"><br/>
      <img class="proj" src="../images/wordguess.png"><br/>
      <img class="proj" src="../images/Meetup-Events.png"><br/>

    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
